{% load static %}
{% load i18n %}
{% load pagination %}
<div class="row">
  <h2 class="parallax-container parallax-h2">
    <div class="parallax"><img src="{% static 'core/img/binary.jpg' %}"></div>
    {% trans 'Certificates' %}
  </h2>
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <form method="GET" action="#certificate" accept-charset="utf-8">
          <div class="row">
            <div class="input-field">
              <input type="text" class="input-search" name="q_certificate" value="{{request.GET.q_certificate}}" placeholder="{% trans 'Search Certificates...' %}">
            </div>
            <div>
              <button type="submit" class="btn btn-search teal darken-3"><i class="fa fa-search search-icon"></i></button>
            </div>
          </div>
        </form>
        <ul class="collection">
          {% for certificate in certificates %}
            <li class="collection-item avatar">
              <div class="row">
                <div class="col s11">
                  <i class="fa fa-star circle teal darken-3"></i>
                  <span class="title"><b>{% trans 'Title' %}:</b> {{certificate}}</span>
                  <p><b>{% trans 'Issuing organization' %}:</b> {{certificate.issuing_institution}}</p>
                </div>
                <div class="col s1">
                  <a href="#{{certificate.pk}}:certificate" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans 'View Certificate' %}">
                    <i class="fa fa-eye icon-color"></i>
                  </a>
                </div>
              </div>
              <!-- Modal Structure -->
              <div id="{{certificate.pk}}:certificate" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>{{certificate}}<span class="badge">{{certificate.category}}</span></h4>
                  <div class="divider"></div>
                  <img src="{{certificate.document.url}}" alt="{{certificate}}" class="responsive-img photo materialboxed"/>
                </div>
                <div class="modal-footer">
                  {% if certificate.url %}
                    <div class="row">
                      <div class="col s12 m6">
                        <a href="{{certificate.url}}" class="modal-action waves-effect waves-green btn teal darken-3 left link-modal" target="_blank">
                          <i class="fa fa-link left"></i>{% trans 'Link to certificate' %}
                        </a>
                      </div>
                      <div class="col s12 m6">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-3" width="100%"><i class="fa fa-close left"></i>{% trans 'Close' %}</a>
                      </div>
                    </div>
                  {% else %}
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-3"><i class="fa fa-close left"></i>{% trans 'Close' %}</a>
                  {% endif %}
                </div>
              </div>
            </li>
          {% empty %}
            <p>{% trans 'There are no certificate registered' %}</p>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        {% pagination request certificates.paginator certificates "certificate_page" "certificate" %}
        <div class="row right">
          <a class='dropdown-button btn teal darken-3' href='#certificates' data-activates='dropdown_certificate_category'>{% trans 'Categories' %}</a>
          <ul id='dropdown_certificate_category' class='dropdown-content'>
            <li><a href="{% url 'core:home' %}#certificate">Todos</a></li>
            <li><a href="?certificate_category=Linguagens#certificate">Linguagens</a></li>
            <li><a href="?certificate_category=Framework#certificate">Framework</a></li>
            <li><a href="?certificate_category=Design#certificate">Design</a></li>
            <li><a href="?certificate_category=Devops#certificate">Devops</a></li>
            <li><a href="?certificate_category=Governanca#certificate">Governança</a></li>
            <li><a href="?certificate_category=Outras#certificate">Outras</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
