{% load static %}
{% load i18n %}
{% load pagination %}
<div class="row">
  <h2 class="parallax-container parallax-h2">
    <div class="parallax"></div>
    {% trans 'Experiences' %}
  </h2>
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <form method="GET" action="#experience" accept-charset="utf-8">
          <div class="row">
            <div class="input-field">
              <input type="text" class="input-search" name="q_experience" value="{{request.GET.q_experience}}" placeholder="{% trans 'Search Experience...' %}">
            </div>
            <div>
              <button type="submit" class="btn btn-search teal darken-3"><i class="fa fa-search search-icon"></i></button>
            </div>
          </div>
        </form>
        <ul class="collection">
          {% for experience in experiences %}
            <li class="collection-item avatar">
              <div class="row">
                <div class="col s11">
                  <i class="fa fa-briefcase circle teal darken-3"></i>
                  <span class="title">{{experience}}</span>
                  {% if experience.is_current_job %}
                    <p class="grey-text text-darken-2">{{experience.start_date}} {% trans 'until now' %}</p>
                  {% else %}
                    <p class="grey-text text-darken-2">{{experience.start_date}} até {{experience.end_date}}</p>
                    <p class="grey-text text-darken-2">{% trans 'Completed' %}</p>
                  {% endif %}
                </div>
                <div class="col s1">
                  <a href="#{{experience.pk}}:experience" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans 'View Experience' %}">
                    <i class="fa fa-eye icon-color"></i>
                  </a>
                </div>
              </div>
            </li>
            <!-- Modal Structure -->
            <div id="{{experience.pk}}:experience" class="modal modal-fixed-footer">
              <div class="modal-content">
                {% if experience.is_current_job %}
                  <h4>{{experience}}<span class="badge">{% trans 'Current job' %}</span></h4>
                {% else %}
                  <h4>{{experience}}</h4>
                {% endif %}
                <div class="divider"></div>
                {% if experience.short_title.exists %}
                  <p class="flow-text">{{experience.short_title}}</p>
                {% endif %}
                {% if experience.is_current_job %}
                  <p class="grey-text text-darken-2">{{experience.start_date}} {% trans 'until now' %} | {{experience.location}}</p>
                {% else %}
                  <p class="grey-text text-darken-2">{{experience.start_date}} - {{experience.end_date}} | {{experience.location}}</p>
                {% endif %}
                <p class="flow-text"><b>{% trans 'Description' %}:</b></p>
                <p class="flow-text">{{experience.description|linebreaksbr}}</p>
                {% if experience.files.exists %}
                  <ul class="collection with-header hide-on-med-and-down">
                    <li class="collection-header"><h4>{% trans 'Files' %}</h4></li>
                    {% for file in experience.files.all %}
                    <li class="collection-item"><div><i class="fa fa-file-zip-o left md-18"></i>{{file.title}}
                      <a href="{{file.document.url}}" class="secondary-content" download="{{file}}"><i class="fa fa-download left md-18"></i>{% trans 'Download' %}</a>
                    </div></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <div class="modal-footer">
                {% if experience.event_url %}
                  <div class="row">
                    <div class="col s12 m6">
                      <a href="{{experience.event_url}}" class="modal-action waves-effect waves-green btn teal darken-3 left" target="_blank">
                        <i class="fa fa-link left"></i>{% trans 'Link to event' %}
                      </a>
                    </div>
                    <div class="col s12 m6">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-3"><i class="fa fa-close left"></i>{% trans 'Close' %}</a>
                    </div>
                  </div>
                {% else %}
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-3"><i class="fa fa-close left"></i>{% trans 'Close' %}</a>
                {% endif %}
              </div>
            </div>
          {% empty %}
            <p>{% trans 'There are no experience registered' %}</p>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        {% pagination request experiences.paginator experiences "experience_page" "experience" %}
      </div>
    </div>
  </div>
</div>
