{% load i18n %}
<div class="row">
  <div class="col l5 s12">
    <ul>
      <blockquote>
        <li class="white-text"><i class="fa fa-home"></i><b>{% trans 'Address' %}</b>: {{profile.address}}</li>
        <li class="white-text"><i class="fa fa-envelope-o"></i><b>{% trans 'Email' %}</b>: {{profile.email}}</li>
        <li class="white-text"><i class="fa fa-phone"></i><b>{% trans 'Phone' %}</b>: {{profile.phone}}</li>
      </blockquote>
    </ul>
  </div>
  <form method="post" action="#contact" class="col l7 s12">
    {% csrf_token %}
    {% if messages %}
      <div class="card-panel teal lighten-2">
        {% for message in messages %}
          <span>{{message}}</span>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      <div class="input-field col s6">
        <i class="fa fa-user-circle-o prefix md-light md-24"></i>
        <input id="name" type="text" class="validate white-text" name="name" length="50">
        <label for="name" data-error="{% trans 'wrong' %}" data-success="{% trans 'right' %}">{% trans 'Name' %}</label>
        {% for error in form.name.errors %}
          <span class="red-text text-accent-2">{{error}}</span>
        {% endfor %}
      </div>
      <div class="input-field col s6">
        <i class="fa fa-envelope-o prefix md-light md-24"></i>
        <input id="email" type="email" class="validate white-text" name="email" length="50">
        <label for="email" data-error="wrong" data-success="right">{% trans 'Email' %}</label>
        {% for error in form.email.errors %}
          <span class="red-text text-accent-2">{{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="input-field col s12">
      <i class="fa fa-comment-o prefix md-light md-24"></i>
      <textarea id="textarea" class="materialize-textarea white-text" name="message" rows="5" length="300"></textarea>
      <label for="textarea" data-error="wrong" data-success="right">{% trans 'Message' %}</label>
      {% for error in form.message.errors %}
        <span class="red-text text-accent-2">{{error}}</span>
      {% endfor %}
    </div>
    <button class="waves-effect waves-light btn button-block" type="submit">
      <i class="fa fa-send-o left"></i>
      {% trans 'Send' %}
    </button>
  </form>
</div>
<div class="footer-copyright">
  <a class="tooltipped top" href="" data-position="bottom" data-delay="50" data-tooltip="Ir para o topo da página"><i class="fa fa-chevron-up icon-color"></i></a>
  <span class="copyright grey-text">{% trans 'Made by' %} <a href="https://github.com/VictorArnaud" target="_blank">Victor Arnaud</a></span>
</div>
