{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'core/img/back1.jpg' %}">
        <div class="caption center-align">
          <h3>{% trans 'Welcome' %}</h3>
          <h5 class="light grey-text text-lighten-3">{% trans 'Victor Arnaud\'s Portfolio' %}.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'core/img/back2.jpg' %}">
        <div class="caption left-align">
          <h3>{% trans 'Portfolio' %}</h3>
          <h5 class="light grey-text text-lighten-3">{% trans 'Here you will find personal information, skills, projects, experiences and a field to contact' %}.</h5>
        </div>
      </li>
    </ul>
  </div>
  <section id="profile">
    {% include 'core/profile.html' %}
  </section>
  <section id="skill">
    {% include 'core/skills.html' %}
  </section>
  <section id="certificate">
    {% include 'core/certificates.html' %}
  </section>
  <section id="project">
    {% include 'core/projects.html' %}
  </section>
  <section id="experience">
    {% include 'core/experiences.html' %}
  </section>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect"><i class="large material-icons">link</i></a>
    <ul>
      {% for link in profile.links.all %}
        {% if link.icon %}
          <li><a class="btn-floating tooltipped" href="{{link}}" target="_blank" data-position="left" data-delay="50" data-tooltip="{{link.title}}">
            <img src="{{link.icon.url}}" width="40" height="40" />
          </a></li>
        {% else %}
          <li><a class="btn-floating tooltipped" href="{{link}}" target="_blank" data-position="left" data-delay="50" data-tooltip="{{link.title}}">
            <img src="{% static 'core/img/link.png' %}" width="40" height="40" />
          </a></li>
        {% endif %}
      {% endfor %}
     </ul>
  </div>
{% endblock %}
