{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'core/img/back1.jpg' %}">
        <div class="caption center-align">
          <h3>{% trans 'Welcome' %}</h3>
          <h5 class="light grey-text text-lighten-3">{% trans 'Victor Arnaud\'s Portfolio' %}.</h5>
        </div>
      </li>
    </ul>
  </div>
  <section id="profile">
    {% include 'core/profile.html' %}
  </section>
  <section id="skill">
    {% include 'core/skills.html' %}
  </section>
  <section id="certificate">
    {% include 'core/certificates.html' %}
  </section>
  <section id="project">
    {% include 'core/projects.html' %}
  </section>
  <section id="experience">
    {% include 'core/experiences.html' %}
  </section>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect teal darken-3"><i class="large fa fa-link"></i></a>
    <ul>
      {% for link in profile.links.all %}
        {% if link.fa_icon %}
          <li><a class="btn-floating tooltipped teal darken-3" href="{{link}}" target="_blank" data-position="left" data-delay="50" data-tooltip="{{link.title}}">
            <i class="{{link.fa_icon}}" style="font-size:30px"></i>
          </a></li>
        {% else %}
          <li><a class="btn-floating tooltipped teal darken-3" href="{{link}}" target="_blank" data-position="left" data-delay="50" data-tooltip="{{link.title}}">
            <i class="fa fa-link" style="font-size:30px"></i>
          </a></li>
        {% endif %}
      {% endfor %}
     </ul>
  </div>
{% endblock %}
