{% load static %}
{% load i18n %}
<nav class="background-color" id="#top">
  <div class="nav-wrapper">
    <span class="brand-logo"><i class="fa fa-id-card"></i>{% trans 'VWCurriculum' %}</span>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect right termo" href="/admin/" target="_blank"><i class="fa fa-sign-in md-24 left"></i></a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars md-24"></i></a>
  </div>
  <ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="{% static 'core/img/back1.jpg' %}" height="400">
      </div>
      {% if profile.photo %}
        <a href="https://br.linkedin.com/in/victorarnaud" target="_blank"><img class="photo" src="{{profile.photo.url}}"></a>
      {% else %}
        <a href="https://br.linkedin.com/in/victorarnaud" target="_blank"><img class="photo" src="{% static 'core/img/eu.jpg' %}"></a>
      {% endif %}
      <div class="white-text center">Victor Arnaud</div>
      <div class="white-text center">{{profile.email}}</div>
    </div></li>
    <li><a class="waves-effect" href="#profile"><i class="fa fa-id-card icon-color"></i>{% trans 'Profile' %}</a></li>
    <li><a class="waves-effect" href="#skill"><i class="fa fa-code icon-color"></i>{% trans 'Skills' %}</a></li>
    <li><a class="waves-effect" href="#certificate"><i class="fa fa-certificate icon-color"></i>{% trans 'Certificates' %}</a></li>
    <li><a class="waves-effect" href="#project"><i class="fa fa-bar-chart icon-color"></i>{% trans 'Projects' %}</a></li>
    <li><a class="waves-effect" href="#experience"><i class="fa fa-briefcase icon-color"></i>{% trans 'Experiences' %}</a></li>
    <li><a class="waves-effect" href="#contact"><i class="fa fa-comment icon-color"></i>{% trans 'Contact' %}</a></li>
  </ul>
</nav>
