<ul class="pagination">
  {% if page_obj.has_previous %}
    <li class="waves-effect">
    <a href="?{{query}}={{page_obj.previous_page_number}}#{{redirect}}">
        <i class="fa fa-chevron-left icon-color"></i>
      </a>
    </li>
  {% endif %}
  {% for page in paginator.page_range %}
    <li class="waves-effect {% if page == page_obj.number %}active{% endif %}">
      <a href="?{{query}}={{page}}#{{redirect}}">{{page}}</a>
    </li>
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="waves-effect">
      <a href="?{{query}}={{page_obj.next_page_number}}#{{redirect}}">
        <i class="fa fa-chevron-right icon-color"></i>
      </a>
    </li>
  {% endif %}
</ul>
