{% load static %}
{% load i18n %}
<div class="row">
  <h2 class="parallax-container parallax-h2">
    <div class="parallax"><img src="{% static 'core/img/binary.jpg' %}"></div>
    {% trans 'Profile' %}
  </h2>
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs tabs-fixed-width">
              <li class="tab col s6"><a class="active" href="#personal_information">{% trans 'Personal Informations' %}</a></li>
              <li class="tab col s6"><a href="#professional_information">{% trans 'Professional Informations' %}</a></li>
            </ul>
          </div>
          <div id="personal_information" class="col s12">
            <h2>{{profile.first_name}} {{profile.last_name}}<span class="badge">{{profile.get_age}} {% trans 'years old' %}</span></h2>
            <p class="grey-text text-darken-2">{{profile.tags}} | {{profile.address}}</p>

            <div class="card about">
              <p class="flow-text"><b>{% trans 'About me' %}:</b></p>
              <p>{{profile.about|linebreaksbr}}</p>
            </div>
          </div>
          <div id="professional_information" class="col s12">
            <h2>{{profile.first_name}} {{profile.last_name}}<span class="badge">{{profile.get_age}} {% trans 'years old' %}</span></h2>
            <table class="highlight responsive-table hide-on-med-and-down">
              <tbody>
                <tr>
                  <th>{% trans 'Current Work' %}:</th>
                  <td>{{profile.current_work}}</td>
                </tr>
                <tr>
                  <th>{% trans 'Academic Formation' %}:</th>
                  <td>{{profile.academic_formation}}</td>
                </tr>
                <tr>
                  <th>{% trans 'Courses' %}</th>
                  <td>{{profile.course}}</td>
                </tr>
                <tr>
                  <th>{% trans 'High School' %}</th>
                  <td>{{profile.school_formation}}</td>
                </tr>
                <tr>
                  <th>{% trans 'Language' %}</th>
                  <td>{{profile.languages}}</td>
                </tr>
              </tbody>
            </table>
            <table class="responsive-table hide-on-large-only">
              <tbody>
                <tr>
                  <td>{{profile.current_work}}</td>
                  <td>{{profile.academic_formation}}</td>
                  <td>{{profile.course}}</td>
                  <td>{{profile.languages}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container-fluid">
          <div class="section">
            <h2 class="center-align">{% trans 'Areas of interest' %}</h2>
            <div class="row">
              {% for interest in profile.interests.all %}
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="{{interest.fa_icon}} icon-color icon-size"></i></h2>
                    <h5 class="center">{{interest.title}}</h5>
                    <p class="light">{{interest.description}}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
