{% load static %}
{% load i18n %}
{% load pagination %}
<div class="row">
  <h2 class="parallax-container parallax-h2">
    <div class="parallax"><img src="{% static 'core/img/binary.jpg' %}"></div>
    {% trans 'Projects' %}
  </h2>
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <form method="GET" action="#project" accept-charset="utf-8">
          <div class="row">
            <div class="input-field">
              <input type="text" class="input-search" name="q_project" value="{{request.GET.q_project}}" placeholder="{% trans 'Search Project...' %}">
            </div>
            <div>
              <button type="submit" class="btn btn-search teal darken-3"><i class="fa fa-search search-icon"></i></button>
            </div>
          </div>
        </form>
        <ul class="collection">
          {% for project in projects %}
            <li class="collection-item avatar">
              <div class="row">
                <div class="col s11">
                  <i class="fa fa-handshake-o circle teal darken-3"></i>
                  <span class="title">{{project}}</span>
                  {% if project.situation == 'Em Andamento' %}
                    <p class="grey-text text-darken-2">{{project.start_date}} {% trans 'until now' %}</p>
                    <p class="grey-text text-darken-2">{{project.situation}}</p>
                  {% else %}
                    <p class="grey-text text-darken-2">{{project.start_date}} {% trans 'until' %} {{project.end_date}}</p>
                    <p class="grey-text text-darken-2">{{project.situation}}</p>
                  {% endif %}
                </div>
                <div class="col s1">
                  <a href="#{{project.pk}}:project" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans 'View Project' %}">
                    <i class="fa fa-eye icon-color"></i>
                  </a>
                </div>
              </div>
            </li>
            <!-- Modal Structure -->
            <div id="{{project.pk}}:project" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4>{{project}}</h4>
                <div class="divider"></div>
                {% if project.is_voluntary %}
                  <p class="grey-text text-darken-2">{{project.position}} | {{project.institution}} | {% trans 'Project voluntary' %}</p>
                {% else %}
                  <p class="grey-text text-darken-2">{{project.position}} | {{project.institution}}</p>
                {% endif %}
                <p class="flow-text"><b>{% trans 'Description' %}:</b></p>
                <p class="flow-text">{{project.description|linebreaksbr}}</p>
                {% if project.files.exists %}
                  <ul class="collection with-header">
                    <li class="collection-header"><h4>{% trans 'Files' %}</h4></li>
                    {% for file in project.files.all %}
                    <li class="collection-item">
                      <div>
                        <i class="fa fa-file-zip-o left md-18"></i>{{file.title}}
                        <a href="{{file.document.url}}" class="secondary-content" download="{{file}}"><i class="fa fa-download left"></i>{% trans 'Download' %}</a>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {% if project.situation == 'Em Andamento' %}
                  <p class="grey-text text-darken-2">{{project.start_date}} {% trans 'until now' %} | {{project.situation}}</p>
                {% else %}
                  <p class="grey-text text-darken-2">{{project.start_date}} {% trans 'until' %} {{project.end_date}} | {{project.situation}}</p>
                {% endif %}
              </div>
              <div class="modal-footer">
                {% if project.url %}
                  <div class="row">
                    <div class="col s12 m6">
                      <a href="{{project.url}}" class="modal-action waves-effect waves-green btn teal darken-3 left" target="_blank">
                        <i class="fa fa-link left"></i>{% trans 'Link to project' %}
                      </a>
                    </div>
                    <div class="col s12 m6">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-3"><i class="fa fa-close left"></i>{% trans 'Close' %}</a>
                    </div>
                  </div>
                {% else %}
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-3"><i class="fa fa-close left"></i>{% trans 'Close' %}</a>
                {% endif %}
              </div>
            </div>
          {% empty %}
            <p>{% trans 'There are no projects registered' %}</p>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        {% pagination request projects.paginator projects "project_page" "project" %}
      </div>
    </div>
  </div>
</div>
