{% load static %}
{% load i18n %}
<div class="row">
  <h2 class="parallax-container parallax-h2">
    <div class="parallax"><img src="{% static 'core/img/binary.jpg' %}"></div>
    {% trans 'Skills' %}
  </h2>
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <div class="row">
        {% for skill in skills %}
          <div class="col s12 m4">
            <a href="#{{skill.pk}}:skill"><div class="chip"><img src="{% static 'core/img/code.png' %}" alt="{{skill}}">
              <a href="#{{skill.pk}}:skill" class="modal-trigger waves-effect waves-light truncate">{{skill}}</a>
            </div></a>
          </div>
          <div id="{{skill.pk}}:skill" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>{{skill}}<span class="badge">{{skill.category}}</span></h4>
              <br />
              <hr />
              <p class="flow-text"><b>{% trans 'Level' %}:</b>
                {% with ''|center:skill.level as range %}
                  {% for star in range %}
                    <span class="material-icons md-36 right">grade</span>
                  {% endfor %}
                {% endwith %}
              </p>
              <br />
              <p class="flow-text"><b>{% trans 'Description' %}:</b></p>
              <p class="flow-text">{{skill.description|linebreaksbr}}</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue darken-3"><i class="material-icons left">close</i>{% trans 'Close' %}</a>
            </div>
          </div>
        {% empty %}
          <p>{% trans 'There are no skills registered' %}</p>
        {% endfor %}
        </div>
      </div>
      <div class="card-action">
        <ul class="pagination" id="pagination">
          {% if skills.has_previous %}
            <li class="waves-effect">
              <a href="?page={{skills.previous_page_number}}#skill">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
          {% else %}
            <li class="waves-effect disabled">
              <a href="#skill">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
          {% endif %}
          {% for page in skills.paginator.page_range %}
            <li class=" waves-effect {% if page == skills.number %}active{% endif %}">
              <a href="?page={{page}}#skill">{{page}}</a>
            </li>
          {% endfor %}
          {% if skills.has_next %}
            <li class="waves-effect">
              <a href="?page={{skills.next_page_number}}#skill">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          {% else %}
            <li class="waves-effect disabled">
              <a href="#skill">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          {% endif %}
        </ul>
        <div class="row right">
          <a class='dropdown-button btn' href='#skills' data-activates='dropdown_skill_category'>Categorias</a>
          <ul id='dropdown_skill_category' class='dropdown-content'>
            <li><a href="{% url 'core:home' %}#skill">Todos</a></li>
            <li><a href="?skill_category=Linguagens#skill">Linguagens</a></li>
            <li><a href="?skill_category=Framework#skill">Framework</a></li>
            <li><a href="?skill_category=Design#skill">Design</a></li>
            <li><a href="?skill_category=Devops#skill">Devops</a></li>
            <li><a href="?skill_category=Governanca#skill">Governança</a></li>
            <li><a href="?skill_category=Outras#skill">Outras</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
